body{
    background-color: #4D5646;
}



.box{
    width: 400px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 15px;
    border-color: #FFFFFF;
    margin-top: -12px;
}

.photo{
    width: 160px;
    height: 160px;
    margin-top: -70px;
}